*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
}


.containerHeader{
    padding: 13px 16px;
    display: flex;
    border-bottom: 1px solid #eee;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

img {
    width: 50px;
    margin-right: 11px;
    height: 50px;
}

.imgName, .imgNameHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
}

.bi, .bi-list{
    font-size: 30px;
}

.imgNameHeader{
    display: flex;
    flex-direction: row;
    visibility: visible;
}




.navList{
    list-style-type: none;
    flex-direction: column;
    gap: 1rem;
    font-size: 25px;
}

nav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 0px 15px 0px 11px;
    box-shadow: 0 62vmax 0vmax 62vmax rgba(0, 0, 0, .5);
    transition: all .3s
}

.visible{
    opacity: 1;
    left: 0;
    top: 77px;
    width: 100%;
    visibility: visible;
    transition: all .3s
}



li{
    padding: 20.5px;
    font-size: 23px;
    text-align: end;
    border-bottom: 1px solid #eee;
}


.hiddenBtn{
   visibility: hidden;
}